* {
  cursor: crosshair;
  text-transform: lowercase;
}
body {
  @include font-styles($font-color, $font-size);
  font-family: $font-family;
  background: $primary;
}
a {
 @include font-styles($secondary, .75rem);
 text-decoration: none;
 text-transform: lowercase;
 &:hover {
   color: $font-color;
 }
}
#body-div {
  margin: 3rem 3rem;
}
input {
  font-family: $font-family;
  text-align: center;
}
footer {
  margin-top: 3rem;
  border-top: 1px solid $font-color;
}
span {
  font-size: .5rem;
  font-style: italic;
}
